name: Sync

on:
  schedule:
    - cron: "0 0,5,9,19,23 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-slim
    concurrency: sync

    env:
      IMDB_COOKIE_FILE: cookies.pickle

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v5

      - name: Checkout data branch
        uses: actions/checkout@v5
        with:
          ref: "data"
          path: "data"
          fetch-depth: 0

      - name: Restore git mtimes
        run: |
          git ls-tree --name-only HEAD | while read -r path; do
              commit_date=$(git log -1 --format="%ad" --date=raw -- "$path" | cut -d' ' -f1)
              touch -d "@$commit_date" "$path"
              echo "Set '$path' mtime to $(date -d "@$commit_date")"
          done
        working-directory: data/

      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Load cookie jar
        uses: actions/cache@v4
        with:
          path: cookies.pickle
          key: cookies-${{ github.run_id }}
          restore-keys: |
            cookies-

      - name: Import cookies
        if: ${{ env.IMDB_COOKIE != '' }}
        run: |
          uv run imdb-data import-cookies
        env:
          IMDB_COOKIE: ${{ secrets.IMDB_COOKIE }}

      - name: Check watchlist
        id: check-watchlist
        run: |
          set -o pipefail
          uv run imdb-data check-watchlist data/watchlist.csv | tee -a "$GITHUB_OUTPUT"
        env:
          IMDB_USER_ID: ${{ secrets.IMDB_USER_ID }}

      - name: Check ratings
        id: check-ratings
        run: |
          set -o pipefail
          uv run imdb-data check-ratings data/ratings.csv | tee -a "$GITHUB_OUTPUT"
        env:
          IMDB_USER_ID: ${{ secrets.IMDB_USER_ID }}

      - name: Export watchlist
        if: ${{ steps.check-watchlist.outputs.outdated == 'true' }}
        run: |
          uv run imdb-data download-export "$IMDB_WATCHLIST_ID" \
            --drop-column "Position" \
            --drop-column "Num Votes" \
            --output data/watchlist.csv
        env:
          IMDB_WATCHLIST_ID: ${{ secrets.IMDB_WATCHLIST_ID }}

      - name: Export ratings
        if: ${{ steps.check-ratings.outputs.outdated == 'true' }}
        run: |
          uv run imdb-data download-export ratings \
            --drop-column "Num Votes" \
            --output data/ratings.csv

      - name: Commit changes
        id: commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          if git commit --message "Update data"; then
              echo "committed=true" >>"$GITHUB_OUTPUT"
          else
              echo "committed=false" >>"$GITHUB_OUTPUT"
          fi
        working-directory: data/

      - name: Push changes
        if: steps.commit.outputs.committed == 'true'
        run: git push origin refs/heads/data
        working-directory: data/
